@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@font-face {
    font-family: "Manteman";
    src: url("/assets/fonts/Manteman.ttf")
}
:root {
    --font-size-base: 16px; 
    --font-size-superheading: 36pt;
    --font-size-heading: 32pt;
    --font-size-subheading: 24pt;
    --font-size-paragraph: 12pt; 
  }

html, body, html * {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
    background-color: #161616;
    background-image: radial-gradient(#252525 0.8px, transparent 0.8px);
    background-size: 40px 40px;
}


.container {
    margin: 0 5%;
}


#jumbroton {
    margin: 0;
    padding: 20px 0px;
}
nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    margin-top: 0;
    background-color: #161616;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
}
  
nav {
    display: flex;
    margin: 10px auto;
    width: 90%;
    justify-content: space-between;
    border-bottom: 2px solid #212121;
    transition: top 0.3s, border-bottom 0.3s;
}
nav > .brand {
    display: flex;
    align-items: center;
}
.brand h2 {
    padding: 0;
    font-family: "Manteman";
    margin-left: 15px;
    font-weight: 400;
    color: #5BE9B9;
    font-size: var(--font-size-superheading);
}
nav > .navbar {
    width: 80%;
    display: flex;
    justify-content: end;
}

nav > .navbar > ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
nav > .navbar > ul > li {
    margin: 10px;
    list-style: none;
}
nav > .navbar > ul > li > a {
    color: #777777;
    padding: 10px 20px;
    font-size: var(--font-size-paragraph);
    text-decoration: none;
    transition: 0.3s ease-out;
}
nav > .navbar > ul > li > a:hover {
    color: #5BE9B9;
    transition: 0.3 ease-in;
}
nav > .navbar >ul >li > .active {
    color: #5BE9B9;
}


.header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > p {
    color: #CFCFCF;
    font-size: var(--font-size-paragraph);
}
.header > .person {
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 30px 0;
}
.header > h1 {
    font-weight: 400;
    text-align: center;
    font-size: 48pt;
    margin-top: 20px;
    background: #CFCFCF;
    background: -webkit-linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    background: -moz-linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    background: linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-primary {
    --c: #5BE9B9;
    position: relative;
    text-decoration: none;
    padding: 15px 40px;
    color: var(--c);
    background-color: #1a1a1a;
    border: 1px solid #212121;
    letter-spacing: 0.1em;
    transition: 0.3s;
    cursor: pointer;
}
.btn-primary:hover {
    transition: 0.3s;
    letter-spacing: 0.2em;
    background-color: #5BE9B9;
    color: #1a1a1a;
}

.btn-secondary {
    position: relative;
    font-size: 1em;
    color: #1a1a1a;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 40px;
    color: #1a1a1a;
    border: 1px solid #212121;
    letter-spacing: 0.1em;
    transition: 0.3s;
    cursor: pointer;
}
.btn-secondary:hover {
    transition: 0.3s;
    letter-spacing: 0.1em;
    background-color: #1a1a1a;
    color: #5BE9B9;
}
svg.svg-inline {
    display: var(--fa-display,inline-block);
    height: 1.3em;
    overflow: visible;
    vertical-align: -.115em;

}


.py-4 {
    padding: 80px 0;
}
.py-2 {
    padding: 40px 0;
}

#skills {
    background-color: #1a1a1a;
    border-top: #212121;
    border-bottom: #212121;
    padding: 45px 0;
    margin: 0;
}

#slider {
    display: flex;
    justify-content: space-around;
}


.title-text {
    font-weight: 400;
    text-align: center;
    font-size: var(--font-size-heading);
    margin-top: 20px;
    background: #CFCFCF;
    background: -webkit-linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    background: -moz-linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    background: linear-gradient(to top right, #CFCFCF 50%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 40px;
}
.subtitle {
    color: #9e9e9e;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.subtitle > h4 {
    text-align: center;
    width: 650px;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.5;
}






#portfolio {
    padding: 40px 0;
}
.container .line {
    width: 100%;
    padding: 40px 0;
    border-bottom: 2px solid #212121;
}
.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .card {
    padding: 15px;
    background-color: #1a1a1a;
    border: 1px solid #212121;
    margin: 10px;
    width: 20%;
}
.card > h3 {
    color: #9e9e9e;
    font-weight: 400;
    padding: 15px 0;
}
.card > p {
    color: #9e9e9e;
    font-size: 10pt;
    font-weight: 300;
    letter-spacing: 0.1em;
}
.card .rounded {
    border: 1px solid #9e9e9e;
    border-radius: 100px;
    width: 100px;
}
.card > i {
    color: #9e9e9e;
    font-size: 14pt;
} */

.card {
    position: relative;
    width: 250px;
    height: 300px;
    background: var(--clr);
    border-radius: 10px;
    border-top-left-radius: 70px;
    overflow: hidden;
    margin: 0 20px;
}
.card .box {
    position: absolute;
    inset: 2px;
    background: #161616;
    border-radius: 10px;
}
.card .box .icon {
    position: absolute;
    width: 120px;
    height: 120px;
    background: var(--clr);
    border-bottom-right-radius: 50%;
    transition: 0.5s;
}
/* .card:hover .box .icon {
    width: 100%;
} */
.card .box .icon::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 5px;
    height: 5px;
    background: transparent;
    border-top-left-radius: 5px;
    box-shadow: -2px -2px 0 2px var(--clr);
}
.card .box .icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 5px;
    background: transparent;
    border-top-left-radius: 5px;
    box-shadow: -2px -2px 0 2px var(--clr);
}
.card .box .icon .iconBox {
    position: absolute;
    inset: 10px;
    background: #161616;
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .box .icon .iconBox i {
    font-size: 2em;
    color: var(--clr);
}
.card .box .content {
    position: absolute;
    top: 130px;
    padding: 20px;
}
.card .box .content h3 {
    color: #9e9e9e;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-bottom: 10px;
}
.card .box .content p {
    color: #9e9e9e;
    opacity: 0.75;
}


#cta {
    padding: 40px 0;
}
.centered {
    width: 100%;
    text-align: center;
}



 .learn-more {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 a.learn-more {
	 width: 12rem;
	 height: auto;
}
 a.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #5BE9B9;
	 border-radius: 1.625rem;
}
 a.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #212121;
}
 a.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 a.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #212121;
	 border-right: 0.125rem solid #212121;
	 transform: rotate(45deg);
}
 a.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #9E9E9E;
	 font-weight: 400;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 a.learn-more:hover .circle {
	 width: 100%;
}
a.learn-more:hover .circle .icon.arrow {
	 background: #212121;
	 transform: translate(1rem, 0);
}
a.learn-more:hover .button-text {
	 color: #212121;
}

.flexbox {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}


.card-article {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid #212121;
    margin: 0 10px;
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s ease-in-out;
    border-radius: 15px;
}
.card-article .card-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #212121;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .45s ease-in-out;
}
.card-body p {
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.5;
}
.card-body > .categories {
    padding-top: 10px;
    padding-bottom: 25px;
}
.badge {
    border: 1px solid #1a1a1a;
    color: #5BE9B9;
    text-transform: uppercase;
    font-size: 8pt;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-article:hover .card-body {
    opacity: 100;
    transition: .45 ease-in-out;
}
.card-article:hover .card-image {
    transition: .25 ease-in-out;
    transform: scale(1.3);
}


.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: var(--font-size-subheading);
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) ; -webkit-transform: rotate( 0.0deg) ; -moz-transform: rotate( 0.0deg) ; -ms-transform: rotate( 0.0deg) ; -o-transform: rotate( 0.0deg) ; }
  }
  

.d-flex {
    display: flex;
}
.pt-4 {
    padding-top: 80px;
}
.w-100 {
    width: 100%;
}
#contact {
    /* background-color: #1a1a1a; */
    border-top: #212121;
    border-bottom: #212121;
    padding: 45px 0;
    margin: 0;
}

.form-contact {
    background-color: #1a1a1a;
    border: 1px solid #212121;
    width: 60%;
    padding: 40px 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.form-group > .form-label {
    padding: 10px 0;
    color: #9E9E9E;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: .1em;
}
.form-group > .form-control {
    padding: 20px 10px;
    font-size: 12pt;
    color: #CFCFCF;
    background-color: #252525;
    border: 1px solid #161616;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-button button {
    font-size: 11pt;
}

#sosmed {
    background-color: #1a1a1a;
    border-top: #212121;
    border-bottom: #212121;
    padding: 45px 0;
    margin: 0;
}
.subtitle h3 {
    text-align: center;
    font-weight: 400;
    font-size: 16pt;
}
.narrow {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.narrow > .box {
    top: -100px;
    position: absolute;
    align-items: center;
    background-color: #5BE9B9;
    padding: 40px 60px;
    display: flex;
    width: 1200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
div.column-3 {
    width: 33.3333%;
}
.narrow > .box > .column-3 > h2 {
    font-size: 22pt;
}
.narrow > .box > .column-3 > h5 {
    text-align: center;
    font-size: 12pt;
    line-height: 1.5em;
}

.account {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.account > a {
    border: 1px solid #5BE9B9;
    font-size: 14pt;
    text-decoration: none;
    color: #5BE9B9;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    transition: 0.3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.account > a:hover {
    background-color: #5BE9B9;
    color: #212121;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.account > a:hover > i {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
}

footer {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
footer small {
    text-align: center;
    color: #9E9E9E;
}

.text-red {
    color: #fc033ded;
}
.text-browm {
    color: ;
}










/* RESPONSIVE CSS MEDIA SCREEN */

@media screen and (max-width: 1045px) {
    #portfolio > .wrap {
        flex-wrap: wrap;
    }
    #portfolio > .wrap > .card {
        width: calc(35% - 10px);
        margin: 15px 20px;
    }
}
